# Do not send git to build context
.git
# Do not send __pycache__ directory to build context
**/__pycache__/
**/*.egg-info/
# Do not send tests to build context
# **/tests/
# Do not send venv do build context
**/venv*/
# Do not send build and dist
**/build/
**/dist/
# Do not send node_modules
**/node_modules/**
# Do not send .nuxt
**/.nuxt/**
# Do not send vscode settings to build context
.vscode/
