// This file defines the color that shoud be used across the application
// https://www.color-hex.com/color-palette/895
$mainColor = #cdbdbe

$accentColor = 	#D53F8C

$softerAccent = #FED7E2

$darkTextColor = #702459

$pastelGreenColor = 	#B83280

$titleColor = $darkTextColor

$bannerColor = 	#cdbdbe

$verySoftAccent = #FFF5F7
